<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Book</title>
</head>
<body>
<h1>Search a book</h1>
<form action="/search-author">
    <label for="author">Search by author:</label>
    <input id="author" type="text" name="author" required><br><br>
    <input type="submit" value="Send">
</form>
<form action="/search-title">
    <label for="title">Search by title:</label>
    <input id="title" type="text" name="title" required><br><br>
    <input type="submit" value="Send">
</form>
<br><br>
<a href="/books">Back to the administration</a>
</body>
</html>
